<!-- <div class="card " *ngFor = "let r of searchResult">
    <div class="card-body">
        <div class="card-body-top">
                <img [src]="buslogo" alt="Avatar">
            <h5 class="card-title"></h5>
            
            <div class="departure-time">
                {{r.sDatetime}}
                <label>{{r.sourcePlace}}</label>
            </div>
            <div class="time-duration">5:00</div>
            <div class="arrival-time">
                {{r.dDatetime}}
                <label>{{r.desnPlace}}</label>
            </div>
            <div class="start-from">
                Start From
                <label>{{r.price}}</label>
            </div>
            <div class="card-body-bottom">
                <div>
                    <button class="btn btn-primary" type="submit" (click)="bookingAction()">Book Seat</button>
                </div>
            </div>
        </div>
    </div>
</div> -->