<div class="main-card-div"  >
  <div class="list-menu">
              <div class="card" *ngFor="let r of buslist">
                  <div class="card-body" >
                      <div class="card-body-top">
                          <h5 class="card-title">{{r.id}}</h5>                      
                          <div class="departure-time">
                              Bus Number
                              <label>{{r.busNo}}</label>
                          </div>
                          <div class="arrival-time">
                            Bus Type
                              <label>{{r.busType}}</label>
                          </div>
                          <div class="start-from">
                              AC
                              <label>{{r.ac}}</label>
                          </div>
                          <div class="start-from">
                              Sleeper
                            <label>{{r.sleeper}}</label>
                        </div>
                      </div>
                  </div>
              </div>       
  </div>
</div>