.list-menu .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 100%;
    margin-bottom: 1%;
  }

  
  
  .list-menu{
    width: 100%;
    float: right;
    margin: 2%;
  }
  .card-body-top img{
    width: 5%; 
    height: 5%;
  }
  
  .main-card-div{
    display: flex;
    flex-direction: row;
  }
  

  .list-menu .card-body {
   margin-top: 1.5%;
  }
  
  .list-menu .card-body .card-body-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .departure-time {
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }
  .arrival-time{
    font-weight: bold;
    display: flex;
    flex-direction: column;
  } 
  
  .time-duration{
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  .start-from{
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }
  .start-end{
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }
  
  .arrival-time label{
    color: grey;
    font-size: large;
    font-weight: 20;
  } 
  .start-from label{
    color: grey;
    font-size: large;
    font-weight: 20;
  }
  .start-end label{
    color: grey;
    font-size: large;
    font-weight: 20;
  }
  .departure-time label{
    color: grey;
    font-size: large;
    font-weight: 20;
  }