<div>
  <div class="position-absolute top-50 start-50 translate-middle w-25">

    <div class="card">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="p-3">
          <div class="form-group">
            <label>Enter Email</label>
            <input type="text" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="admin.email"/>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback" >
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary my-3">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
