<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
          <form [formGroup]="registerForm">
            <div class="form-group">
              <label>Name</label>
              <input type="text" formControlName="password" class="form-control" #username/>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Name is required</div>  
              </div>
            </div>
              <div class="form-group">
                  <label>Email</label>
                  <input type="text" formControlName="email" class="form-control" #unemail/>
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
              </div>
              <div class="form-group">
                  <label>Phone no</label>
                  <input type="number" formControlName="password" class="form-control" #phoneno/>
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Phone no is required</div>
                      <div *ngIf="f.password.errors.minlength">Phone no must be at least 10 characters</div>
                  </div>
                </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="onSubmit( username.value, unemail.value, phoneno.value )" >Submit</button>
        <button type="button" class="btn btn-dark mx-2" data-dismiss="modal" (click) = "closeLogin()">Close</button>
      </div>
    </div>
  </div>