<div class="main-card-div"  >
    <div class="list-menu">
                <div class="card" *ngFor="let r of bustimetable">
                    <div class="card-body" >
                        <div class="card-body-top">
                            <h5 class="card-title">{{r.blid}}</h5>
                            
                            <div class="departure-time">
                                {{r.sDatetime}}
                                <label>{{r.sourcePlace}}</label>
                            </div>
                            <div class="arrival-time">
                                {{r.dDatetime}}
                                <label>{{r.desnPlace}}</label>
                            </div>
                            <div class="start-from">
                                Start From
                                <label>{{r.price}}</label>
                            </div>
                        </div>
                    </div>
                </div>       
    </div>
</div>