<div class="bg">
  <div class="position-absolute top-50 start-50 translate-middle w-25 ">
    <div class="card">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="p-3">
          <div>
            <h3 class="card-title">Login</h3>
          </div>
          <div class="form-group my-3">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" name="email" [(ngModel)]="admin.email">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group my-3">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors  }" [(ngModel)]="admin.password" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-danger btn-block">Submit</button>
          </div>
        </div>
        <div class="modal-footer my-3">
            <a class="mx-2" routerLink="/adminregister">Register</a>
            <a class="mx-2" routerLink="/adminforgotpassword">Forgot Password?</a>
        </div>
      </form>
    </div>
  </div>
</div>
