<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Forgot Password</h4>
      </div>
      <div class="modal-body">
          <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label>Enter Email</label>
                  <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
              </div>
            <button type="submit" class="btn btn-primary my-3">Submit</button>
          </form>
      </div>
      <div class="modal-footer mt-3">
          <button type="button" class="btn btn-dark mx-2" data-dismiss="modal" (click) = "closeForgotPassword()">Close</button>
      </div>
    </div>
  </div>
