<div class="position-absolute top-50 start-50 translate-middle">
<div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img [src]="addBus"  width="40" height="150" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Add Bus</h5>
              <a  class="btn btn-primary" routerLink="/addbus">Add</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img [src]="viewBus" class="card-img-top"  width="40" height="150" alt="...">
            <div class="card-body">
              <h5 class="card-title">View Bus</h5>
              <a routerLink="/viewbus" class="btn btn-primary">View Bus Timetable</a>
            </div>
          </div>
      </div>
      <div class="w-100"></div>
      <div class="col my-3">
        <div class="card" style="width: 18rem;">
            <img [src]="addTimetable"  width="40" height="150" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Add Bus Timetable</h5>
              <a routerLink="/addbustimetable" class="btn btn-primary">Add Bus Timetable</a>
            </div>
          </div>
      </div>
      <div class="col my-3">
        <div class="card" style="width: 18rem;">
            <img [src]="viewTimetable"  width="40" height="150" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">View Bus Timetable</h5>
              <a routerLink="/viewbustimetable"  class="btn btn-primary">View Bus Timetable</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>