<div class="main-card-div"  >
    <div class="list-menu">
                <div class="card" *ngFor="let r of searchResult">
                    <input style="display: none;" value={{r.id}} type="number"  id="Id" >
                    <input style="display: none;" value={{r.price}} type="number"  id="price" >
                    <div class="card-body" >
                        <div class="card-body-top">
                                <img [src]="buslogo" alt="Avatar">
                            <h5 class="card-title">Sivneri</h5>
                            
                            <div class="departure-time">
                                {{r.sDatetime}}
                                <label>{{r.sourcePlace}}</label>
                            </div>
                            <div class="arrival-time">
                                {{r.dDatetime}}
                                <label>{{r.desnPlace}}</label>
                            </div>
                            <div class="start-from">
                                Start From
                                <label>{{r.price}}</label>
                            </div>
                            
                            <div class="card-body-bottom">
                                <div>
                                    <button class="btn btn-primary" type="submit" (click)="bookingAction()">Book Seat</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>       
    </div>
</div>