<div class="modal-dialog">
    <div class="modal-content">

        <!-- header -->
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Register</h4>
        </div>

        <div class="modal-body">
            <p class="alert alert-warning" *ngIf="showAlert">{{errorMessage}}</p>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <!-- email,valid email,email not in database -->
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" [(ngModel)]="userdetailRegisterDto.email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>

                <!-- name , min length 6-->
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" formControlName="name" class="form-control" [(ngModel)]="userdetailRegisterDto.name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Name is required</div>
                        <div *ngIf="f.name.errors.minlength">Name must be at least 6 characters</div>
                    </div>
                </div>


                <!-- password,min length 6 -->
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" [(ngModel)]="userdetailRegisterDto.password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>


                <!-- contact number -->
                <div class="form-group">
                    <label>Contact Number</label>
                    <input type="number" formControlName="contact" class="form-control" [(ngModel)]="userdetailRegisterDto.contactNo" [ngClass]="{ 'is-invalid': submitted && f.contact.errors }" />
                    <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                        <div *ngIf="f.contact.errors.required">Contact number is required</div>
                        <div *ngIf="f.contact.errors.pattern">Contact number shoult be valid</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-dark mx-2" data-dismiss="modal" (click) = "closeRegister()">Close</button>
        </div>


    </div>
</div>
